html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
img {
    max-width: 100%;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    transition: 0.2s all;
}
.img-fluid {
    max-width: 100%;
}
:root {
    --e-global-color-primary: #000000;
    --e-global-color-secondary: #1F1F1F;
    --e-global-color-text: #4D4D4D;
    --e-global-color-accent: #062F6E;
}
body {
    font-family: 'Metronic Pro', Sans-serif;
}
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}
.text-underline {
    text-decoration: underline;
}
.text-default {
    color: #000000;
}
.hidden {
    display: none;
}
.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1400px
}
.btn-primary {
    background-color: #0A306B;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 19px 30px;
}
.btn-primary:hover {
    background-color: #000;
}
.white-btn {
    background-color: #fff;
    border: 2px solid transparent;
    color: #0A306B;
    font-size: 18px;
    font-weight: 500;
    padding: 17px 28px;
}
.white-btn:hover {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}
.check-list li {
    position: relative;
}
.check-list li:before,
.check-list li:after {
    content: '';
    position: absolute;
    background-color: #0A306B;
}
.check-list li:before {
    left: -31px;
    top: 12px;
    transform: rotate(45deg);
    height: 2px;
    width: 8px;
}
.check-list li:after {
    left: -27px;
    top: 10px;
    transform: rotate(-45deg);
    height: 2px;
    width: 17px;
}

/* header */
.header {
    background-color: var(--e-global-color-accent);
    padding: 25px 10px;
}
.header .inner {
    display: flex;
    justify-content: space-between;
}
.header .inner-col {
    display: flex;
    align-items: center;
}
.header .item-tel {
    display: flex;
    align-items: center;
}
.header .font-icon {
    fill: #fff;
    transition: fill 0.3s;
    height: 16px;
    width: 16px;
}
.header .item-text {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;
}

/* side-menu-holder */
.side-menu-wrapper {
    width: 300px;
    top: 0;
    right: -340px;
    margin-right: 0px;
    margin-left: 0px;
    transition: 1s;
    z-index: 999999;
    position: fixed;
}
.side-menu-wrapper.open {
    right: 0;
}
.side_menu_overlay {
    background-color: rgba(0, 0, 0, 0.60);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 1s;
    opacity: 0;
    display: none;
}
.side-menu-wrapper.open .side_menu_overlay {
    display: block;
    opacity: 1;
}
.side-menu-items {
    background-color: #062F6E;
    background-image: url('../images/bird-bg-2.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    transition: 1s;
}
.close-side-menu {
    position: absolute;
    left: -40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 22px;
    top: 50px;
    color: #fff;
    background-color: #062F6E;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
}
.side-menu-search {
    padding: 50px 20px 30px 20px;
}
.side-menu-search-holder {
    display: flex;
    overflow: hidden;
}
.side-menu-search-holder input {
    border: none;
    border-radius: 0px;
    flex: 1;
    min-width: 0;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    line-height: 1.5;
    outline: none;
}
.side-menu-search-holder button {
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    font-size: 16px;
}
.side-menu-holder ul a {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    position: relative;
    flex-direction: row;
    padding: 20px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Metronic Pro", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    color: #fff;
    margin: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(255, 255, 255, 0.22);
}
.side-menu-holder ul a:hover {
    background-color: #001E4C;
    color: #fff;
}
.side-menu-holder ul a:hover:after {
    content: "";
    bottom: 0;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: #fff;
    z-index: 2;
    position: absolute;
}
.side-menu-holder li.current-menu-item > a {
    background-color: #FFFFFFDE;
    color: var(--e-global-color-accent);
    font-size: 16px;
    font-weight: 400;
}
.menu-item-pointer {
    display: inline-block;
    margin: 0px 15px;
    vertical-align: middle;
}
.menu-item-btn.expanded .menu-item-pointer {
    transform: rotate(180deg);
}
.side-menu-holder .sub-menu {
    overflow: hidden;
    list-style: none;
    max-height: 0;
    transition: max-height 0.15s ease-out;
}
.side-menu-holder .sub-menu.open {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

/* hero */
.hero {
    position: relative;
    background-image: url('../images/hero-manufacturing.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100%;
    width: 50%;
}
.hero-header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
    z-index: 1;
}
.hero-header .inner {
    display: flex;
    justify-content: space-between;
}
.hero-header .logo-wrap {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    padding: 25px 30px 20px;
}
.hero-header .toggle-btn-wrap {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    padding: 25px 68px 20px;
}
.hero-header .toggle-btn {
    cursor: pointer;
}
.hero .container {
    position: relative;
    z-index: 1;
}
.hero-row {
    display: flex;
}
.hero .img-col,
.hero .text-col {
    width: 50%;
}
.hero .img-col {
    border-left: 1px solid #ECECEC;
    color: #fff;
}
.hero .text-row {
    padding: 90px 75px 90px 50px;
}
.hero .title {
    font-size: 46px;
    letter-spacing: 0.3px;
    margin: 0 0 27px;
}
.hero .img-col .description {
    font-size: 24px;
    line-height: 1.2;
}
.hero .item-row {
    border-top: 1px solid #ECECEC;
    display: flex;
    padding: 45px 25px 75px;
}
.hero .item-row .item {
    padding: 0 25px;
}
.hero .item-title {
    font-size: 30px;
    margin: 0 0 18px;
}
.hero .item-description {
    font-size: 16px;
    opacity: 0.6;
}
.hero .text-col {
    border-right: 1px solid #ECECEC;
}
.hero .text-col .text-row {
    padding: 35px 100px 35px 85px;
}
.hero .text-col-title {
    color: var(--e-global-color-primary);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 10px;
}
.hero .text-col .description {
    color: var(--e-global-color-text);
    font-size: 15px;
    line-height: 1.4;
}
.hero .list {
    margin: 17px 0 0;
}
.hero .list li {
    color: #4D4D4D;
    font-size: 15px;
    line-height: 1.4;
    margin: 0 0 10px;
}
.hero .btn-wrap {
    margin: 40px 0 0;
    text-align: center;
}
.hero .btn-wrap p {
    font-size: 14px;
}
.hero .btn {
    margin: 13px 0 19px;
    display: block;
}

/* maximize-minimize-section */
.maximize-minimize-section .inner-row {
    display: flex;
}
.maximize-minimize-section .text-col {
    width: 50%;
    border-left: 1px solid #ECECEC;
}
.maximize-minimize-section .text-row {
    padding: 67px 80px 67px 50px;
}
.maximize-minimize-section .title {
    font-size: 45px;
    font-weight: 500;
}
.maximize-minimize-section .list {
    margin: 43px 0 0;
}
.maximize-minimize-section .list li:first-child a {
    border-top: 1px solid #D9D9D9;;
}
.maximize-minimize-section .list a {
    color: #000000;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid #D9D9D9;
}
.maximize-minimize-section .circle-arrow {
    height: 30px;
    width: 30px;
}
.maximize-minimize-section .img-col {
    width: 50%;
    background-image: url('../images/maximize-minimize.png');
    background-size: cover;
}

/* trusted-section */
.trusted-section .inner-row {
    padding: 87px 0 62px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
.trusted-section .title {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 40px;
}
.trusted-section .trusted-slider {
    padding: 0 43px;
    margin: 0 72px;
}
.trusted-section .slide-item {
    padding: 17px;
}
.trusted-section .slide-item img {
    max-width: 100%;
}
.trusted-slider .slick-prev,
.trusted-slider .slick-next {
    font-size: 0;
    background-color: transparent;
    background-image: url('../images/slider-arrow.svg');
    border: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    top: calc(50% + 5px);
}
.trusted-slider .slick-prev {
    transform: rotate(180deg);
    left: 0;
}
.trusted-slider .slick-next {
    right: 0;
}

/* testimonial-section */
.testimonial-section {
    background-color: var(--e-global-color-accent);
    background-image: url('../images/bird-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial-section .inner-row {
    padding: 114px 50px 133px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
.testimonial-section .testimonial-content {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}
.testimonial-section .testimonial-text {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    margin: 0 0 30px;
}
.testimonial-section .testimonial-name {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    margin: 0 0 10px;
}
.testimonial-section .testimonial-title {
    color: #fff;
    display: block;
    font-style: italic;
}

/* accreditations-section */
.accreditations-section {
    border-bottom: 1px solid #ECECEC;
}
.accreditations-section .inner-row {
    padding: 75px 0 81px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
.accreditations-section .title {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 45px;
}
.accreditations-section .accreditations-items {
    display: flex;
    justify-content: center;
}
.accreditations-section .slide-item {
    padding: 0 10px;
}

/* custom-quote-section */
.custom-quote-section {
    border-bottom: 1px solid #ECECEC;
}
.custom-quote-section .main-title {
    display: none;
}
.custom-quote-section .inner-row {
    display: flex;
}
.custom-quote-section .text-col {
    width: 50%;
    border-left: 1px solid #ECECEC;
}
.custom-quote-section .text-row {
    padding: 75px 130px 67px 124px;
    position: relative;
}
.custom-quote-section .digit-wrap {
    position: absolute;
    top: 75px;
    left: 50px;
}
.custom-quote-section .digit {
    display: block;
    font-size: 40px;
    opacity: 0.3;
    margin: 0 0 30px;
}
.custom-quote-section .digit.active {
    color: #0A306B;
    opacity: 1;
}
.custom-quote-section .text-item {
    display: none;
}
.custom-quote-section .text-item.active {
    display: block;
}
.custom-quote-section .title {
    color: #0A306B;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 23px;
}
.custom-quote-section .text-col p {
    color: var(--e-global-color-text);
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 20px;
}
.custom-quote-section .btn {
    display: inline-block;
    margin: 12px 0 0;
}
.custom-quote-section .img-col {
    width: 50%;
}
.custom-quote-slider,
.custom-quote-slider .slick-list,
.custom-quote-slider .slick-track {
    height: 100%;
}
.custom-quote-slider .slide-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.custom-quote-slider .slick-dots {
    background-color: #fff;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px 60px;
}
.custom-quote-slider .slick-dots li {
    cursor: pointer;
    padding: 0 10px;
}
.custom-quote-slider .slick-dots .slick-active button {
    background-color: var(--e-global-color-secondary);
}
.custom-quote-slider .slick-dots button {
    font-size: 0;
    border: 0;
    background-color: #d9d9d9;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    padding: 0;
}
.custom-quote-slider .slick-arrow {
    position: absolute;
    bottom: 0;
    font-size: 0;
}
.custom-quote-slider .slick-prev,
.custom-quote-slider .slick-next {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    padding: 45px 45px;
    z-index: 1;
}
.custom-quote-slider .slick-prev {
    left: 211px;
}
.custom-quote-slider .slick-next {
    left: 301px;
}
.custom-quote-slider .slick-arrow:before,
.custom-quote-slider .slick-arrow:after {
    content: '';
    background-color: #d9d9d9;
    position: absolute;
    height: 1px;
    width: 20px;
}
.custom-quote-slider .slick-prev:before {
    transform: rotate(45deg);
    left: 35px;
    top: 49px;
}
.custom-quote-slider .slick-prev:after {
    transform: rotate(-45deg);
    top: 35px;
    left: 35px;
}
.custom-quote-slider .slick-next:before {
    transform: rotate(-45deg);
    left: 35px;
    top: 49px;
}
.custom-quote-slider .slick-next:after {
    transform: rotate(45deg);
    top: 35px;
    left: 35px;
}

/* catalogue-section */
.catalogue-section .inner-row {
    padding: 75px 0 81px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    text-align: center;
}
.catalogue-section .title {
    font-size: 45px;
    font-weight: 500;
}
.catalogue-section .download-btn {
    color: #0A306B;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin: 50px 0 0;
}

/* serving-section */
.serving-section {
    background-color: var(--e-global-color-accent);
    background-image: url('../images/bird-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.serving-section .inner-row {
    padding: 70px 50px 47px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
.serving-section .title {
    font-size: 45px;
    font-weight: 500;
    margin: 0 0 35px;
}
.serving-section .btn {
    display: inline-block;
    padding: 17px 56px;
    margin: 20px 0 0;
}
.serving-section .location-ico,
.serving-section .tel-ico,
.serving-section .earth-ico {
    fill: #fff;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.serving-section .list {
    margin: 35px 0 0;
}
.serving-section .list li {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 0 15px;
}
.serving-section .list a {
    color: #fff;
    display: flex;
    align-items: center;
}

/* map-section */
.map-section .map {
    height: 700px;
    width: 100%;
}

/* footer */
.footer {
    background-color: #000;
    color: #fff;
}
.footer .inner-row {
    border-left: 1px solid #ECECEC;
    display: flex;
}
.footer .col {
    border-right: 1px solid #ECECEC;
    width: 33.333%;
}
.footer .col:first-child .col-inner {
    padding: 90px 70px;
    text-align: center;
}
.footer .col-inner {
    padding: 65px 70px;
}
.footer .logo-wrap {
    margin-bottom: 40px;
}
.footer .icon-list {
    display: flex;
    justify-content: center;
    margin: 0 0 55px;
}
.footer .icon-item {
    margin: 0 5px;
}
.footer .icon-item svg {
    fill: #fff;
    width: 21px;
    height: 21px;
    margin-right: 5px;
}
.footer .text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}
.footer .text a {
    color: #fff;
}
.footer .col-title {
    font-size: 16px;
    margin: 0 0 22px;
}
.footer .list-item {
    margin: 0 0 8px;
}
.footer .list-item a {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
}
.scroll-to-top {
    background-color: var(--e-global-color-accent);
    cursor: pointer;
    position: fixed;
    right: 20px;
    left: auto;
    bottom: 20px;
    top: auto;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
    height: 60px;
    width: 60px;
    overflow: hidden;
    z-index: 9999;
    display: none;
}
.scroll-to-top:hover {
    background-color: #fff;
}
.scroll-to-top:hover::before,
.scroll-to-top:hover::after {
    background-color: var(--e-global-color-accent);
    transition: background .3s;
}
.scroll-to-top .inner-line:after {
    animation: ue-shine 5s infinite;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, .2) 50%, transparent);
    transform: rotateZ(60deg) translate(0, 5em);
}
.scroll-to-top::before,
.scroll-to-top::after {
    content: '';
    background-color: #d9d9d9;
    position: absolute;
    height: 1px;
    width: 20px;
}
.scroll-to-top::before {
    transform: rotate(-45deg);
    top: 27px;
    left: 13px;
}
.scroll-to-top::after {
    transform: rotate(45deg);
    top: 27px;
    left: 27px;
}

/* popup */
.overlay {
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    pointer-events: all;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
}
.overlay.active {
    display: flex;
}
.popup.active {
    display: block;
}
.popup {
    background-color: #fff;
    max-width: 928px;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
    overflow-y: auto;
    z-index: 999;
    display: none;
}
.popup .form-holder {
    padding: 60px 110px 40px 110px;
}
.popup .title {
    font-size: 45px;
    font-weight: 500;
    margin: 0 0 30px;
}
.popup .close-ico {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 48px;
    width: 48px;
}
.popup .list {
    padding-left: 35px;
    max-width: 500px;
    margin: 0 0 33px;
}
.popup .list li {
    color: #4D4D4D;
    font-size: 15px;
    position: relative;
    margin: 0 0 13px;
    line-height: 1.5;
}
.popup .list li:before,
.popup .list li:after {
    content: '';
    position: absolute;
    background-color: #0A306B;
}
.popup .list li:before {
    left: -31px;
    top: 12px;
    transform: rotate(45deg);
    height: 2px;
    width: 8px;
}
.popup .list li:after {
    left: -27px;
    top: 10px;
    transform: rotate(-45deg);
    height: 2px;
    width: 17px;
}
.popup .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 43px;
}
.popup .form-group {
    position: relative;
    width: 50%;
}
.popup .form-group label {
    color: #4D4D4D;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 5px;
}
.popup .form-control {
    border: 0;
    border-bottom: 1px solid #4D4D4D;
    font-size: 14px;
    outline: none;
    height: 36px;
    width: calc(100% - 20px);
}
.popup .form-group + .form-group .form-control {
    margin-left: 20px;
}
.popup .form-group + .form-group label {
    left: 20px;
}
.popup .text {
    color: #4D4D4D;
    font-size: 14px;
    margin: 0 0 25px;
}
.popup .form-check {
    position: relative;
}
.popup .form-check + .form-check {
    margin-left: 30px;
}
.popup .form-check label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.popup .checkmark-label {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 10px;
}
.popup .form-check-input {
    height: 26px;
    width: 26px;
    z-index: -1;
    opacity: 0;
}
.popup .checkmark {
    border-radius: 0;
    border: 2px solid #0A306B;
    margin: 0;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 0;
    left: 0;
}
.popup .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 5px;
    width: 18px;
    height: 14px;
    background-image: url('../images/checkmark.svg');
}
.popup .form-check-input:checked ~ .checkmark:after {
    display: block;
}
.popup .btn-wrap {
    text-align: center;
    margin: 50px 0 0;
}
.popup .btn-wrap p {
    font-size: 14px;
}
.popup .btn {
    display: block;
    margin: 20px 0 22px;
}
.popup .slider-holder {
    border-top: 1px solid #ECECEC;
    text-align: center;
    padding: 40px 20px 45px;
}
.popup .slider-holder .title {
    font-size: 24px;
    margin: 0 0 15px;
}
.popup .trusted-slider {
    padding: 0 25px;
}
.popup .trusted-slider .slide-item {
    padding: 12px;
}

@keyframes ue-shine {
    20%, 100% {
        transform: rotateZ(60deg) translate(0, -80px);
    }
}


@media (max-width: 1599px) {
    .hero {
        background-size: cover;
        background-position: -400px 0;
    }
}
@media (max-width: 1199px) {
    .custom-quote-section .text-row {
        padding: 50px 70px 75px 90px;
    }
    .custom-quote-section .digit-wrap {
        top: 50px;
        left: 35px;
    }
}
@media (max-width: 1024px) {
    .hero .container,
    .maximize-minimize-section .container,
    .trusted-section .container,
    .testimonial-section .container {
        padding: 0;
    }
    .hero-header .logo-wrap,
    .hero-header .toggle-btn-wrap,
    .hero .img-col,
    .maximize-minimize-section .text-col,
    .trusted-section .inner-row,
    .testimonial-section .inner-row,
    .accreditations-section,
    .accreditations-section .inner-row,
    .serving-section .inner-row {
        border: 0;
    }
    .hero .title,
    .maximize-minimize-section .title,
    .trusted-section .title,
    .accreditations-section .title,
    .catalogue-section .title,
    .serving-section .title {
        font-size: 40px;
    }
    .hero .img-col .description {
        font-size: 20px;
    }
    .hero-header .toggle-btn svg path {
        fill: #fff;
    }
    .hero {
        background-position: 0 0;
    }
    .hero::after {
        display: none;
    }
    .hero-row {
        flex-wrap: wrap;
    }
    .hero .text-row {
        text-align: center;
        padding: 70px 50px 70px 50px;
    }
    .hero .img-col, .hero .text-col {
        width: 100%;
    }
    .hero .text-col {
        background-color: #ECECEC;
    }
    .hero .text-col-title {
        font-size: 22px;
    }
    .hero .item-row {
        justify-content: center;
        padding: 45px 25px 45px;
    }
    .hero .list {
        text-align: left;
    }
    .maximize-minimize-section .inner-row {
        flex-wrap: wrap;
    }
    .maximize-minimize-section .text-col,
    .maximize-minimize-section .img-col {
        width: 100%;
    }
    .trusted-section .trusted-slider {
        padding: 0;
        margin: 0;
    }
    .testimonial-section .testimonial-text {
        font-size: 18px;
    }
    .testimonial-section .testimonial-name {
        font-size: 16px;
    }
    .testimonial-section .testimonial-title {
        font-size: 14px;
    }
    .custom-quote-section {
        background-color: #ECECEC;
        border: 0;
        padding: 38px 0 0;
    }
    .custom-quote-section .container {
        padding: 0;
    }
    .custom-quote-section .main-title {
        display: block;
        color: #000;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 20px;
        padding: 0 20px;
        width: 100%;
    }
    .custom-quote-section .inner-row {
        flex-wrap: wrap;
        position: relative;
    }
    .custom-quote-section .text-col {
        width: 100%;
        border: 0;
        order: 2;
    }
    .custom-quote-section .img-col {
        order: 1;
        width: calc(100% - 90px);
    }
    .custom-quote-section .title {
        font-size: 24px;
    }
    .custom-quote-slider {
        position: static;
    }
    .custom-quote-slider .slick-dots {
        background: transparent;
        justify-content: center;
        right: 0;
        bottom: 37px;
        padding: 0;
    }
    .custom-quote-slider .slick-dots .slick-active button {
        background-color: #0A306B;
    }
    .custom-quote-section .text-item {
        border-left: 1px solid #D9D9D9;
        padding-left: 25px;
    }
    .map-section .map {
        height: 520px;
    }
    .footer .col:first-child .col-inner {
        padding: 50px 40px;
    }
    .footer .col-inner {
        padding: 65px 60px;
    }
    .popup .form-holder {
        padding: 50px 80px 40px 80px;
    }
    .popup .title {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    .header {
        padding: 12px 10px;
    }
    .header .middle-col {
        display: none;
    }
    .hero-header .logo-wrap {
        max-width: 111px;
        padding: 15px 20px 13px;
    }
    .hero-header .toggle-btn-wrap {
        padding: 20px;
    }
    .hero-header .toggle-btn svg {
        height: 24px;
        width: 24px;
    }
    .hero .title,
    .maximize-minimize-section .title,
    .trusted-section .title,
    .accreditations-section .title,
    .catalogue-section .title {
        font-size: 24px;
    }
    .hero .img-col .description {
        font-size: 18px;
    }
    .hero .text-col .description,
    .hero .list li {
        font-size: 14px;
    }
    .hero .text-col-title,
    .maximize-minimize-section .title {
        text-align: center;
    }
    .hero .title {
        line-height: 1.2;
        margin: 0 0 7px;
    }
    .hero .text-row {
        padding: 23px 20px 24px 20px;
    }
    .hero .item-row {
        padding: 14px 20px 19px;
    }
    .hero .item-row .item {
        text-align: center;
        padding: 0 15px;
    }
    .hero .item-title {
        font-size: 16px;
        margin: 0 0 5px;
    }
    .hero .item-description {
        font-size: 12px;
    }
    .hero .text-col .text-row {
        padding: 28px 20px 45px 20px;
    }
    .hero .text-col-title {
        margin: 0 0 14px;
    }
    .hero .list {
        padding-left: 35px;
    }
    .hero .list li {
        margin: 0 0 12px;
    }
    .hero .btn-wrap {
        margin: 32px 0 0;
    }
    .hero .btn {
        margin: 13px 0 23px;
    }
    .maximize-minimize-section .text-row {
        padding: 30px 20px;
    }
    .maximize-minimize-section .title {
        line-height: 1.2;
    }
    .maximize-minimize-section .list {
        margin: 25px 0 0;
    }
    .trusted-section .title {
        padding: 0 20px;
        line-height: 1.2;
        margin: 0;
    }
    .trusted-section .inner-row {
        padding: 10px 0;
    }
    .testimonial-section .inner-row {
        padding: 38px 25px 32px;
    }
    .testimonial-section .testimonial-text {
        font-size: 16px;
        line-height: 1.38;
    }
    .testimonial-section .testimonial-name {
        font-size: 14px;
    }
    .testimonial-section .testimonial-title {
        font-size: 12px;
    }
    .accreditations-section .title {
        line-height: 1.2;
        margin: 0 0 22px;
    }
    .accreditations-section .inner-row {
        padding: 30px 0 17px;
    }
    .accreditations-section .accreditations-items {
        flex-wrap: wrap;
    }
    .accreditations-section .slide-item {
        padding: 0;
        width: 33%;
        margin: 0 0 13px;
    }
    .custom-quote-section .main-title {
        font-size: 24px;
        line-height: 1.2;
    }
    .custom-quote-section .text-row {
        padding: 30px 20px 77px 20px;
    }
    .custom-quote-section .title {
        font-size: 18px;
        line-height: 1.2;
        margin: 0 0 15px;
    }
    .custom-quote-section .text-item {
        margin-left: 45px;
    }
    .custom-quote-section .digit-wrap {
        top: 27px;
        left: 25px;
    }
    .custom-quote-section .digit {
        font-size: 30px;
    }
    .custom-quote-section .btn {
        display: block;
        margin: 30px 0 0;
    }
    .catalogue-section .inner-row {
        padding: 32px 0 45px;
    }
    .serving-section .title {
        font-size: 32px;
        line-height: 1.2;
        margin: 0 0 20px;
    }
    .serving-section .inner-row {
        padding: 50px 5px 33px;
        text-align: center;
    }
    .serving-section .list {
        margin: 22px 0 0;
    }
    .serving-section .list li {
        justify-content: center;
    }
    .serving-section .list li svg {
        display: none;
    }
    .map-section .map {
        height: 412px;
    }
    .footer .container {
        padding: 0;
    }
    .footer .inner-row {
        flex-wrap: wrap;
        border: 0;
    }
    .footer .col {
        border-right: 0;
        width: 100%;
        border-bottom: 1px solid #ECECEC;
    }
    .footer .col:first-child .col-inner {
        padding: 57px 40px 76px;
    }
    .footer .logo-wrap {
        max-width: 130px;
        margin: 22px auto 27px;
    }
    .footer .icon-list {
        margin: 0 0 47px;
    }
    .footer .icon-item svg {
        width: 17px;
        height: 17px;
        margin-right: 5px;
    }
    .footer .text {
        font-size: 10px;
    }
    .footer .col-title {
        font-size: 14px;
        margin: 0 0 18px;
    }
    .footer .list-item {
        margin: 0 0 4px;
    }
    .footer .list-item a {
        font-size: 12px;
    }
    .scroll-to-top {
        height: 50px;
        width: 50px;
    }
    .scroll-to-top::before {
        top: 24px;
        left: 9px;
    }
    .scroll-to-top::after {
        top: 24px;
        left: 23px;
    }
    .popup {
        top: 42px;
        bottom: 0;
    }
    .popup .form-holder {
        padding: 30px 20px 40px 22px;
    }
    .popup .title {
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        margin: 0 0 22px;
    }
    .popup .close-ico {
        top: 15px;
        right: 15px;
        height: 24px;
        width: 24px;
    }
    .popup .list {
        padding-left: 60px;
        margin: 0 0 20px;
    }
    .popup .list li {
        margin: 0 0 15px;
        line-height: 1.3;
    }
    .popup .form-group {
        width: 100%;
        margin: 0 0 30px;
        padding: 0 20px;
    }
    .popup .form-row {
        margin: 0;
    }
    .popup .form-group + .form-group .form-control {
        margin-left: 0;
    }
    .popup .text {
        margin: 0 20px 20px;
        line-height: 1.3;
    }
    .popup .form-check {
        margin-left: 20px;
        margin-right: 20px;
    }
    .popup .form-check + .form-check {
        margin: 17px 20px 0;
    }
    .popup .check-row {
        margin: 0 0 30px;
    }
    .popup .btn-wrap {
        margin: 7px 0 0;
    }
    .popup .slider-holder {
        padding: 30px 20px 10px;
    }
    .popup .trusted-slider {
        padding: 0;
    }
    .overlay {
        top: 42px;
    }
}

/* page T2 */
/* hero-t2 */
.hero-t2{
    position: relative;
    background-image: url('../images/hero-manufacturing.png');
    background-size: cover;
}
.hero-t2 .toggle-btn path {
    fill: #fff;
}
.hero-t2 .hero-row {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
.hero-t2 .text-row {
    color: #fff;
    padding: 40px 50px 67px;
    max-width: 600px;
}
.hero-t2 .title {
    font-size: 60px;
    margin: 0 0 22px;
}
.hero-t2 .description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}

/* improve-piping-section */
.improve-piping-section {
    background-color: #ECECEC;
}
.improve-piping-section .text-row {
    max-width: 715px;
    padding: 42px 50px 24px;
}
.improve-piping-section .title {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 17px;
}
.improve-piping-section .description {
    line-height: 1.2;
    margin: 0 0 25px;
}
.improve-piping-section .check-list {
    padding-left: 33px;
}
.improve-piping-section .check-list li {
    position: relative;
    margin: 0 0 10px;
    line-height: 1.2;
}

/* form-section */
.form-section {
    background-color: #0A306B;
    max-width: 430px;
    position: absolute;
    right: 15%;
    top: 23%;
}
.form-section .form-holder {
    padding: 42px 48px 64px;
    color: #fff;
}
.form-section .form-title {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 35px;
}
.form-section .form-control {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 15px 0;
    margin: 0 0 23px;
}
.form-section .form-control::placeholder {
    color: #fff;
    font-size: 15px;
}
.form-section .text {
    font-size: 14px;
    line-height: 1.3;
    margin: 5px 0 22px;
}
.form-section .form-check {
    position: relative;
    margin: 0 0 17px;
}
.form-section .form-check label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.form-section .form-check-input {
    height: 26px;
    width: 26px;
    z-index: -1;
    opacity: 0;
}
.form-section .checkmark {
    border-radius: 0;
    border: 2px solid #fff;
    margin: 0;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 0;
    left: 0;
}
.form-section .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 5px;
    width: 18px;
    height: 14px;
    background-image: url('../images/checkmark-white.svg');
}
.form-section .form-check-input:checked ~ .checkmark:after {
    display: block;
}
.form-section .checkmark-label {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 10px;
}
.form-section .btn-wrap {
    text-align: center;
    font-size: 14px;
}
.form-section .btn {
    border: 2px solid transparent;
    background-color: #fff;
    color: #0A306B;
    display: block;
    text-align: center;
    padding: 17px 30px;
    margin: 30px 0 25px;
}
.form-section .btn:hover {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}
.form-section .text-default {
    color: #fff;
}

/* t2 trusted-section */
.p-t2 .trusted-section .inner-row {
    padding: 64px 0 62px;
}

/* custom-quote-section-origin */
.custom-quote-section-origin .inner-row {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 50px;
}
.custom-quote-section-origin .items {
    display: flex;
    flex-wrap: wrap;
}
.custom-quote-section-origin .items:last-child {
    border-bottom: 1px solid #ECECEC;
}
.custom-quote-section-origin .img-col,
.custom-quote-section-origin .text-col {
    width: 50%;
}
.custom-quote-section-origin .text-col-inner {
    padding: 55px 69px 69px;
}
.custom-quote-section-origin .title {
    color: #000;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
    max-width: 450px;
}
.custom-quote-section-origin .text {
    color: var(--e-global-color-text);
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 15px;
}
.custom-quote-section-origin .button-text-link {
    font-size: 15px;
    padding: 12px 24px;
    color: #000;
    background-color: #fff;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--e-global-color-accent);
    text-decoration: none;
    display: flex;
    text-align: center;
}
.custom-quote-section-origin .button-icon {
    margin-left: 10px;
}
.custom-quote-section-origin .icon-svg {
    height: 1em;
    width: 1em;
}
.custom-quote-section-origin .button-link {
    color: #fff;
    background-color: var(--e-global-color-accent);
    font-size: 16px;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 20px;
}
.custom-quote-section-origin .img-col img {
    height: 100%;
    object-fit: cover;
}

/* two-items-section */
.two-items-section {
    background-color: var(--e-global-color-accent);
}
.two-items-section .inner-row {
    padding: 55px 50px 53px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    display: flex;
    flex-wrap: wrap;
}
.two-items-section .item {
    width: 50%;
}
.two-items-section .boxcolumn {
    background-color: #fff;
    margin: 15px;
}
.two-items-section .thumbnail {
    overflow: hidden;
}
.two-items-section .zoom-effect-image {
    width: 100%;
    transition: all 0.8s ease 0s;
    mix-blend-mode: normal;
    object-position: center top;
    display: block;
    height: 360px;
    object-fit: cover;
}
.two-items-section .boxcolumn:hover .zoom-effect-image {
    transform: scale(1.2);
}
.two-items-section .content-wrap {
    padding: 30px 30px 30px 30px;
    background-image: url('../images/watermark.png');
    background-position: 340px -50px;
    background-repeat: no-repeat;
    background-size: 56% auto;
}
.two-items-section .content {
    text-align: center;
    margin-top: 10px;
    line-height: 1.5em;
}
.two-items-section .text-row:nth-child(1) {
    margin: 0 0 45px;
}

/* industrial-section */
.industrial-section .inner-row {
    padding: 67px 70px 83px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
.industrial-section .title {
    font-size: 45px;
    font-weight: 500;
    margin: 0 0 58px;
}
.industrial-section .slide-item {
    margin: 0 10px;
}
.industrial-section .slide-item-img {
    border: 1px solid #DFDFDF;
}
.industrial-section .slide-item-img img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}
.industrial-section .slide-item-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 20px 20px;
    min-height: 220px;
    border: 1px solid #DFDFDF;
    text-align: center;
}
.industrial-section .slide-item .title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}
.industrial-section .slide-item .text {
    color: var(--e-global-color-text);
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
}
.industrial-section .more-btn {
    background-color: var(--e-global-color-accent);
    color: #fff;
    display: inline-block;
    padding: 14px 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.industrial-section .more-btn:hover {
    background-color: #000;
}
.industrial-t2 .inner-row {
    padding: 82px 70px 8px;
}
.industrial-t2 .slide-item-content {
    min-height: 135px;
}
.industrial-slider1 {
    margin: 0 0 35px;
}
.industrial-slider1 .slick-prev,
.industrial-slider1 .slick-next {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 35%;
    font-size: 0;
    height: 60px;
    width: 60px;
    transition: 0.2s all;
}
.industrial-slider1 .slick-prev {
    left: -60px;
}
.industrial-slider1 .slick-next {
    right: -60px;
}
.industrial-slider1 .slick-prev:hover,
.industrial-slider1 .slick-next:hover {
    background-color: #000;
}
.industrial-slider1 .slick-prev:hover::before,
.industrial-slider1 .slick-next:hover::before,
.industrial-slider1 .slick-prev:hover::after,
.industrial-slider1 .slick-next:hover::after {
    background-color: #fff;
}
.industrial-slider1 .slick-prev::before,
.industrial-slider1 .slick-prev::after,
.industrial-slider1 .slick-next::before,
.industrial-slider1 .slick-next::after {
    content: '';
    background-color: #000;
    position: absolute;
    height: 1px;
    width: 25px;
    transition: 0.2s all;
}
.industrial-slider1 .slick-prev::before {
    transform: rotate(-45deg);
    top: 20px;
    left: 15px;
}
.industrial-slider1 .slick-prev::after {
    transform: rotate(45deg);
    top: 37px;
    left: 15px;
}
.industrial-slider1 .slick-next::before {
    transform: rotate(-45deg);
    top: 37px;
    right: 15px;
}
.industrial-slider1 .slick-next::after {
    transform: rotate(45deg);
    top: 20px;
    right: 15px;
}
.industrial-slider1 .slick-dots {
    display: flex;
    justify-content: center;
    margin: 32px 0 0;
}
.industrial-slider1 .slick-dots li {
    cursor: pointer;
    padding: 0 15px;
}
.industrial-slider1 .slick-dots button,
.industrial-slider2 .slick-dots button {
    font-size: 0;
    border: 0;
    background-color: #c6c6c6;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: block;
    padding: 0;
}
.industrial-slider1 .slick-dots .slick-active button,
.industrial-slider2 .slick-dots .slick-active button {
    background-color: var(--e-global-color-secondary);
}
.industrial-slider2 img {
    object-fit: cover;
    height: 320px;
    width: 100%;
}
.industrial-slider2 .slick-prev,
.industrial-slider2 .slick-next {
    font-size: 0;
    background-color: transparent;
    background-image: url('../images/slider-arrow-white.svg');
    border: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40%;
    z-index: 1;
}
.industrial-slider2 .slick-prev {
    transform: rotate(180deg);
    left: 15px;
}
.industrial-slider2 .slick-next {
    right: 15px;
}
.industrial-slider2 .slick-dots {
    display: flex;
    justify-content: center;
    margin: 12px 0 0;
}
.industrial-slider2 .slick-dots li {
    cursor: pointer;
    padding: 0 5px;
}

/* .bg-section */
.bg-section {
    background-image: url('../images/BTMileStoneHeader.jpg');
    position: relative;
}
.bg-section::after {
    content: '';
    background-color: transparent;
    background-image: linear-gradient(360deg, #001646 0%, #00000082 100%);
    opacity: 0.85;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.bg-section .inner-row {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}
.bg-section .item-row {
    border-top: 1px solid #ECECEC;
    display: flex;
    flex-wrap: wrap;
}
.bg-section .item {
    color: #fff;
    width: 33.3%;
}
.bg-section .content {
    border-right: 1px solid #ECECEC;
    padding: 20px 23px 40px;;
}
.bg-section .item:last-child .content {
    border-right: 0;
}
.bg-section .item-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 25px;
}
.bg-section .item-description {
    font-size: 14px;
}

/* bg-text-section */
.bg-text-section {
    background-color: #062F6E;
}
.bg-text-section .inner-row {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
.bg-text-section .text-wrap {
    border-right: 1px solid #ECECEC;
    width: 87%;
}
.bg-text-section .title {
    color: #fff;
    font-size: 45px;
    font-weight: 500;
    text-transform: capitalize;
    max-width: 655px;
    padding: 60px;
}

/* serving-t2 */
.serving-t2 .inner-row {
    padding: 57px 61px 50px;
}
.serving-t2 .title {
    margin: 0 0 47px;
}
.serving-t2 p {
    font-size: 15px;
}
.serving-section .btn {
    margin: 37px 0 0;
}